# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a=0
def b():
    global a
    a=c(a)
def c(a):
    return a+2
b()
b()
b()
a

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [17]:
def file_length(file_name):
    
    try:
        file = open(file_name)
        
    except FileNotFoundError:
        print("File " +file_name+" not found.")
    
    else:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
file_length("midtermxyz.ipynb")

file_length("idterm.py")

1483
File idterm.py not found.

# Question 3 
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [40]:
class Marsupial:                        
    itemList=[]
    
    def put_in_pouch(self,item):
        self.itemList.append(item)
    def pouch_contents(self):
        return self.itemList

m=Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [41]:
class Kangaroo(Marsupial):
    
    def __init__(self,x1,y1):
        self.x = x1
        self.y = y1
        Marsupial.__init__(self)
    
    def jump(self,x1,y1):
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    
k = Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates (0, 0)

In [42]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [43]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [60]:
def collatz(num):
  
    if(num==1): 
        print(1)
        return 
    
    print(int(num))
    
    if(num%2==0): 
        num=num/2
    else:
        num=3*num+1
        
    return(collatz(num))

In [62]:
collatz(1)

1

In [63]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [64]:
def binary(integer):         
    try:
        if(integer<0):
            raise ValueError
        if integer > 1:                   
            binary(integer//2)
        print (integer % 2, end = '')
    except ValueError:
        print('Value should not be negative.')

In [65]:
binary (0)

0

In [66]:
binary (3)

11

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [86]:
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    checkHeader = False
    indentNo = 0
 
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.checkHeader = True
            self.indentNo = 0
        elif tag == "h2":
            self.checkHeader = True
            self.indentNo = 1
        elif tag == "h3":
            self.checkHeader = True
            self.indentNo = 2
        elif tag == "h4":
            self.checkHeader = True
            self.indentNo = 3
        elif tag == "h5":
            self.checkHeader = True
            self.indentNo = 4
        elif tag == "h6":
            self.checkHeader = True
            self.indentNo = 5
        else:
            self.checkHeader = False
            self.indentNo = 0
 
    def handle_data(self, data):
        if self.checkHeader:
            space = " "*self.indentNo
            print("%s%s" % (space, data))
 
    def handle_endtag(self, tag):
        if tag in ["h1", "h2", "h3", "h4", "h5", "h6"]:
            self.checkHeader = False
 
 
infile = open("w3c.txt")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [92]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Appender(HTMLParser):
    
    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []

    def append(self):
        
        return self.url_links

    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
i = 0
def webdir(url, depth, i):
   
    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4

    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature Rainfall
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [121]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kshit\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\kshit\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\kshit\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\kshit\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: jedi>=0.16 in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: colorama in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\users\kshit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\kshit\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\kshit\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kshit\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=080dd6bc5fa1eec7c07436afe793bfdf4a13ea273194300bd0c57c6074627cde
  Stored in directory: c:\users\kshit\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE Record(City varchar(50), Country varchar(50), Season varchar(50), Temperature int, Rainfall int);
INSERT INTO Record VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5);
select * from record;

In [ ]:
%sql SELECT Temperature FROM Record; #All the temperature data.

In [137]:
%sql SELECT DISTINCT City FROM Record; #All the cities, but without repetition

UsageError: Line magic function `%sql` not found.

In [138]:
%sql SELECT * FROM Record WHERE Country = 'India'; #All the records for India.

UsageError: Line magic function `%sql` not found.

In [139]:
%sql SELECT * FROM Record WHERE Season = 'Fall'; #All the Fall records.

UsageError: Line magic function `%sql` not found.

In [140]:
%sql SELECT City, Country, Season FROM Record WHERE Rainfall BETWEEN 200 And 400; 
#The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

UsageError: Line magic function `%sql` not found.

In [141]:
%sql SELECT City, Country FROM Record WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature ASC;
#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

UsageError: Line magic function `%sql` not found.

In [142]:
%sql SELECT Sum(Rainfall) as Total_Annual_Rainfall FROM record WHERE City='Cairo'; #The total annual rainfall for Cairo.

UsageError: Line magic function `%sql` not found.

In [143]:
%sql SELECT Season, round(Sum(Rainfall),1) as Total_Rainfall FROM record GROUP BY Season; #The total rainfall for each season

UsageError: Line magic function `%sql` not found.

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [146]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("Upper case :")
print([L.upper() for L in words],"\n")

print("Lower case :")
print([L.lower() for L in words],"\n")

print("Length of words :")
print([len(L) for L in words],"\n")

print("The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word : ")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

print("The list of words in list words containing 4 or more characters :")
print([L for L in words if len(L)>=4])

Upper case :
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

Lower case :
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Length of words :
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word :
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The list of words in list words containing 4 or more characters :
['quick', 'brown', 'jumps', 'over', 'lazy']